@media (max-width: 1250px)
 {
		
		.bestsellers span
		{
		    
		    font-size: 160px !important;
		    
		}

		.text1 h1
		{
		    font-size: 25px!important;
		}
}


@media (max-width: 1150px)
 {
		
		.bestsellers span
		{
		    
		    font-size: 130px !important;
		    
		}

		.text1 h1
		{
		    font-size: 25px!important;
		}
}