header
{
    position: absolute; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.search
{
  margin-left: 0px!important;
}

#custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
        background: transparent;
        color: #000;

    }
.search-query
{
	 background-color: unset!important;
	 color: #000!important;
}

    #custom-search-form:focus {
        outline: unset;
        border-color: #ccc!important;
   		box-shadow: none!important;
    }
.search-query:active
{
	outline: unset!important;
}

.search-query:focus
{
	outline: unset!important;
}
 
    #custom-search-form .search-query {
    padding-right: 8px;
    padding-right: 4px \9;
    padding-left: 8px;
    padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 		border-top:unset;
 		border-left: unset;
 		border-right: unset;
 		border-bottom: 2px solid#000;
        margin-bottom: 0;
        color: #000;
        
    }

    .search-query::placeholder
    {
    	color: #000;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        color: #000;
        
    }

   
    .search-query:focus + button {
        z-index: 3;   
    }

.mycaret:after
{
    display: none;
}


.menu1
{
    background-image: unset!important;
    background-color: unset!important;
    border-color: unset!important;
    border-bottom: unset!important;
    box-shadow: unset!important;
    color: #000;
}


 .gor 
{
    display: inline-flex;
   
}

 .gor li a
{
    
    color: #000;
}

.pad
{
    padding-top: 50px;
}

.menu
{
    text-align: center;

}

.lang
{
    color: #000;
}
.color1 li a
{
        
    color: #000!important;
}
.after:after {
   content: "5"; /* Добавляемый текст */ 
      color: #fff; /* Цвет текста */ 
      background-color: #a27f51; /* Цвет фона */ 
      font-size: 80%; /* Размер шрифта */ 
      padding: 2px 5px;
      border-radius: 50%;
      top: -20px;
      position: relative;
      
}



.no_pad
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.img
{
    position: relative;
}

.dws
{
    height: auto;
    top:80%;
    left: 40%;
    align-items: center;
    position: absolute;
    z-index: 999;
}

.butt
{
    border:2px solid #a27f51;
    border-radius: 30px;
    font-size: 22px;
    color: #fff!important;
    margin-left: 25px;
    width: 190px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 45px;
    font-family: Arial,sans-serif;
    position:relative;
    transition: 0.5s;
    overflow: hidden;
}
.butt:hover
{
    text-decoration:unset;
}

.butt::before,
.butt::after
{
    position: absolute;
    content: '';
    width: 100%;
    height:100%;
    background: #171717;
    top:0;
    left: -100%;
    opacity: 0.5;
    transition: 1s;
    z-index: -1;
}

.butt::after
{
    opacity: 1;
    transition-delay: .2s;
}

.butt:hover
{
    color: #fff!important;
}

.butt:hover::before,
.butt:hover::after
{
    left: 0;
}

.two
{
    min-height: 150px;
    background-color: #171717;
}

.block
{
    padding-top:50px;
    padding-bottom: 30px;
}
.block_icon
{
    
    border:2px solid#535250;
    color: #848484;
    width: 20%;
    float:left;
    font-size: 31px;
    text-align: center;
    margin-right: 13px; 
    padding-top: 5px;
    display: inline-block;
    height:45px;
}


.r   {
    position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 2s linear;
}
.r:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


.e {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 0.5s linear;
}
.e:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
}



@-webkit-keyframes w {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
@keyframes w {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
.w:hover {
  -webkit-animation: w 0.6s ease;
  animation: w 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}






.q:hover {
    -webkit-animation: toTopFromBottom 0.6s forwards;
    -moz-animation: toTopFromBottom 0.6s forwards;
    animation: toTopFromBottom 0.6s forwards;
    cursor: pointer;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}




.block_text h6
{
    color: #a27f51;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.block_text p
{
    color: #848484;
     font-size: 12px;
}




.tree
{
    min-height: 500px;
    background-color: #171717;
    padding-top: 20px;
    padding-bottom: 20px;


}

.bestsellers 
{
    position: relative;
    z-index: 1;
    text-align:center;
}

.bestsellers span
{
    font-weight: bold;
    text-align: center;
    font-size: 175px;
     text-shadow: 0px 3px 0px #171717,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.text1
{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 41%;
    z-index: 100;
    color: #fff;
}

.text1 h1
{
    font-size: 30px;
}




.block1
{
    margin-bottom: 50px;
    cursor: pointer;
    position: relative;
    z-index: 9999;
      overflow: hidden;
  box-shadow: 0 22px 44px 0 rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);

    
}


.block1_img {
    padding: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: 250px;
  transition: background-size 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.block1_text {
  position: absolute;
  z-index: 99;
  letter-spacing: 0.5px;
  text-shadow: 0 0 10px #000;
}

.shop {
  position: absolute;
  background: rgba(45, 45, 55, 0.5);
  width: 193%;
  height: 172%;
  top: 220px;
  left: 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.shop button {
  color: #a27f51;
  font-size: 20px!important;
  text-decoration: none;
  position: absolute;
  top: 100px;
  left: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.block1:hover .blocl1_img{
  background-size: 290px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
.block1:hover .shop {
  top: -135px;
  left: -80px;
}
.block1:hover .shop button {
  font-size: 25px;
  
  top: 40%;
  left: 38%;
  -webkit-transform: rotate(-45deg) translateY(-50%) translateX(-50%);
          transform: rotate(-45deg) translateY(-50%) translateX(-50%);
}

.shop button:hover
{
    border-radius: 15px;
    border:2px solid#a27f51;
}


.shop button i
{
    font-size: 32px !important;
}




.block1_text p
{
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left:10px;
    border-bottom:1px solid #848484;
    color: #848484;
}

.block1_text h4
{

    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
}

.block1_text h3
{

    color: #a27f51;
    padding-top: 5px;
    padding-left: 10px;
}

.block1_text 
{
    position: relative;
    background-color: #1d1d1d;
    padding-bottom: 10px;
    
}

.icon1
{
    position: absolute;
    top: 70%;
    left: 55%;
    color: #a27f51;
}


.four
{
    min-height: 80px;
    background-color: #171717;
    
}

.qwer
{
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: #1d1d1d;
}

.back
{
    background-color: #171717;
    min-height: 300px!important;
    padding-top:60px;
    padding-left: 92px!important;
}



.triangle
{
    width: 0;
    height: 0;
    border-bottom: 100px solid #a38255;
    border-left: 0px solid transparent;
    border-right: 100px solid transparent;
    position: relative;
}

.triangle_text
{
    color: #a38255;
    position: absolute;
    left: 140px;
}


.sale
{
    padding-top:0px!important;
}


.five
{
    min-height: 400px;
    background-color: #171717;
    border-bottom: 2px solid#535250;
    padding-top: 80px;
}

.img_navigation
{
    position: relative;
    opacity: 1;
}

 
.img_navigation:hover {
  opacity: 0.6;
}

.text_navigation
{
    position: absolute;
    top: 10%;
    font-size: 22px;
    padding-left: 20px;
    color: #fff;

}

.padd
{
    padding-left: 60px;
    padding-right: 60px;

}


footer
{
    min-height: 290px;
    background-color: #171717;
    padding-top: 50px!important;
}

.logo_text 
{
    color: #fff;
    padding-top: 15px;
}

.logo_text p span
{
    color: #a38255;
}

.search_text
{
    text-align: left;
    color: #d0cac3;
}

.search
{
    
    margin-left: 20px;
}

#search_w
{
    width: 320px;
}



.list1 li
{
    display: inline;
    padding: 5px;
}


.list1 >li> a
{
    
    color: #d0cac3;
    
}

.list1 >li> a:hover
{
    text-decoration: unset!important;
    color: #a27f51;

}

.activ a:visited
{
    color: #a27f51;
}